<!doctype html>
<html lang="en">
    <%- partial("_head") %>  
  <body>

    <div class="container">
        <%- partial("_menu") %>
        <%- yield %>
        <%- partial("_footer") %>
        <%- partial("_scripts") %>
    </div>
    <script>

</script>
  </body>
</html>
