<!doctype html>
<html lang="en">
    <%- partial("../assets/_partials/_head") %>  
  <body>

    <div class="container">
        <%- partial("../assets/_partials/_menu") %>
        <%- yield %>
        <%- partial("../assets/_partials/_footer") %>
        <%- partial("../assets/_partials/_scripts") %>
    </div>
    <script>

</script>
  </body>
</html>